{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bewertung</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bewertung.id }}</td>
            </tr>
            <tr>
                <th>Trainer</th>
                <td>{{ bewertung.trainer }}</td>
            </tr>
            <tr>
                <th>Duschen</th>
                <td>{{ bewertung.duschen }}</td>
            </tr>
            <tr>
                <th>Laufzeit</th>
                <td>{{ bewertung.laufzeit }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bewertung_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bewertung_edit', { 'id': bewertung.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
